/* Extra small devices (Mobile, less than 480px) 640px*/ 
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
.container {
 width:93%;
 margin-bottom: 25px;
}

/*.maincon {
  background: #fff none repeat scroll 0 0;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 50px;
  margin-top: 15px;
}*/

/*popular post a*/
.well {
  padding: 15px;
}

/*.facebook_page iframe {
  width: 268px;
}*/

.headerTopBannerimg {
  display: block;
  height: 100px;
  width: 100%;
}
.headerTopBannerimg > a > img {
  border: 1px solid #ddd;
  height: 100px;
  padding: 3px;
  width: 100%;
}

.headline {
  width: 100%;
  /*width: 296px;*/
}

.headline > h2 {
  text-align: center;
  left: 0;
}

#outer {
  margin-left: -15px;
  width: 296px;
}

.form-wrapper-2 {
  width: 297px;
  left: -15px;
}

.form-wrapper-2 input {
 	width: 226px;
}

.form-wrapper-2 button {
	 width: 68px;
}

.cateNav {
  margin-left: 0;
}
.cateNav > li {
  display: inline-block;
  left: 0px;
}

.cateNav span {
  color: #567494;
  left: 2px;
  position: relative;
}

.cateNavright > li {
  display: inline-block;
  left: 54px;
}
.cateNavright span {
  color: #567494;
  left: 2px;
  position: relative;
}

/*home slider image*/
.flexslider .slides img {
  display: block;
  height: 210px;
  width: 100%;
}

.flex-control-thumbs li {
  margin-right: 7px;
  position: relative;
  width: 20%;
  left: 0;
}

.flex-control-thumbs img {
 	height: 50px;
}

.Homeslider .flex-direction-nav > li {
  display: none;
}

#slider .entry p {
    display:none;
 }
  
#slider .entry h4 {
  font-size: 14px;
  line-height: 17px;
}


/*propular news*/
.recent-list > li {
  right: 40px;
  width: 233px;
}

.nano > .pane {
	right: 32px;
}

.post-title > a {
   font-size: 13px;
}

.Homeslider #slider {
  margin-bottom: 11px;
}

.flex-caption {
 height: 44px;
 padding: 1px 5px;
 width: 100%;
}

.flex-caption a {
  font-size: 14px;
  line-height: 19px;
}

.flex-caption p {
  display: none;
}

/*Home Gallery*/
.col-md-12 .gallery {
  margin-bottom: 20px;
  margin-top: 20px;
}

/*facebook*/
.facebook_page {
  margin-bottom: 50px;
  margin-left: -15px;
}
.facebook_page iframe {
  width: 298px;
}


/*footer*/
.footer .col-md-12{
  margin-top:0px;
}


.Copyright{
  margin-top: 30px;
}

.Copyright > span {
  font-size: 18px;
  left: 60px;
  position: relative;
}

.address {
  display: block;
  margin-left: 31px;
}
/*.gallery .flex-direction-nav .flex-next {
  background-position: 107% center;
  right: -5px;
}

.gallery .flex-direction-nav a {
  margin: -17px 11px 0;
  top: 53%;
}*/
/*.gallery .flex-direction-nav .flex-next {
  background-position: 107% center;
  right: 0;
}*/




/*Category Page*/
.category-option img {
  margin: 0 10px 10px -10px;
}

.category-option h1 {
  font-size: 18px;
 line-height: 25px;
}

.category-option p {
  font-size: 16px;
  line-height: 24px;
}

.category-small {
   width: 100%;
   height: auto;
}


.singleSideradd1 {
 margin-top: 15px;
}

/*single page*/
.singlePage {
  padding-left: 0px;
}

.single-title {
  font-size: 23px;
  line-height: 28px;
}

.single_img {
  background-color: #f7f7f7;
  padding: 7px 5px;
  width: 100%;
  float: none;
}

.single_img img {
  border: 5px solid #ffffff !important;
  height: auto !important;
  width: 100% !important;
}

.singledes {
  float: none;
  margin:0;
  width: 100%;
  
}

.siderbarAdd {
  display: block;
  margin-top: 20px;
  width: 100%;
}

.siderbarAdd > a > img {
  width: 100%;
}

/*Single Facebook Comment*/
.facebook_commentbox iframe {
  height: 442px !important;
  width: 278px !important;
}

.SinglecatTitle .authorNews {
  float: right;
  font-size: 12px;
  padding-top: 4px;
}

article {
 height: 700px;
}

.gallery .flex-direction-nav .flex-next {
  background-position: 107% center;
  right: 0px;
}

/*share button start*/
.facebook_share {
  margin-bottom: 10px;
}

.st_twitter_hcount {
  position: relative;
  right: 90px;
}

.st_googleplus_hcount {
  position: relative;
  bottom: 21px;
  left: 177px;
}
.st_pinterest_hcount {
  position: relative;
  right: 104px;
  top: 7px;
}
/*share button end*/


}


/* fat mobile*/
@media only screen and (min-device-width : 360px) and (max-device-width : 640px) {
#outer {
  margin-left: -15px;
  width: 332px;
}

.form-wrapper-2 input {
  width: 262px;
}

.form-wrapper-2 {
  left: -15px;
  width: 332px;
}

.cateNavright > li {
  display: inline-block;
  left: 72px;
}

.nano > .pane {
  right: 3px;
}

.recent-list > li {
  right: 40px;
  width: 259px;
}

.post-title > a {
  font-size: 15px;
}

.SinglecatTitle .authorNews {
  float: right;
  font-size: 12px;
  padding-top: 4px;
}

.facebook_page {
  margin-bottom: 12px;
  margin-left: 3px;
}

article {
 height: 700px;
}

.category-option > img {
  margin-left: 8px;
}

.address {
  display: block;
  margin-left: 47px;
}

.Copyright {
  margin-top: 30px;
  margin-left: 21px;
}

.gallery .flex-direction-nav .flex-next {
  background-position: 107% center;
  right: 0px;
}

/*share button start*/
.facebook_share {
  margin-bottom: 10px;
}
.st_twitter_hcount {
  position: relative;
  right: 5px;
}
.st_googleplus_hcount {
  position: relative;
  top: -1px;
  left: -10px;
}
.st_pinterest_hcount {
  position: relative;
  left: 0px;
  top: 9px;
}
/*share button end*/
.facebook_commentbox .fb_ltr{
  width: 316px !important;
}



}


/* Desktops and laptops */
@media only screen  and (min-width : 1224px) {

.container {
  width: 75%;
}

.Homeslider .flexslider {
  width: 659px;
}

.category-section .col-md-6 {
  padding-right: 0 !important;
 }
.category-section .col-md-12 {
  padding-right: 0 !important;
}

.facebook_commentbox .fb_ltr{
  width: 645px !important;
}


}
